@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #fdfd96;
}

.container-main-title-arepitachan {
  width: 112vw;
  height: 6vw;
}
.main-title-arepitachan {
  width: 24vw;
  height: 4vw;
  margin-left: 35vw;
  margin-top: 1vw;
  position: absolute;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  color: #a52a2a;
  font-weight: bold;
}

.arepitachan-title-main-image {
  width: 5vw;
  height: 5vw;
  margin-left: 59vw;
}
.container-boards {
  margin-left: 18vw;
  width: 62vw;
  height: 34vw;
  background: #fcfcda;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.subcontainer-message-boards {
  background: #ffda9e;
  width: 62vw;
  height: 5vw;
  border: 1px solid #ffc340;
  border-radius: 20px;
}
.message-boards {
  text-align: center;
	  font-family: "Montserrat", sans-serif;
  margin-left: 25px;	
  width: 95%;
}

.container-board-sections {
  margin-top: -1vw;
  margin-left: 3vw;
  width: 65vw;
  height: 25vw;
}
.container-dashboard-sections-title-items-1 {
  margin-top: 8px;
  margin-left: -2vw;
  width: 11vw;
  height: 23vw;
  position: absolute;
}
.title-sections-1 {
  margin-left: -45px;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.container-items-sections-1 {
  margin-top: -8px;
}
.items-sections-1 {
  margin-left: 1vw;
}
.hyperlinks-of-sections-items-1 {
  font-size: 13px;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.items-sections-1:hover {
  color: red;
}
.hyperlinks-of-sections-items-1:hover {
  color: red;
}
.section-line-container-1 {
  margin-left: 140px;
  margin-top: 30px;
  position: absolute;
}

.the-section-line-1 {
  border-left: 1px solid #ccc;
  height: 28vw;
  position: absolute;
}
.regional-section-container-1 {
  margin-top: 8px;
  margin-left: 162px;
  width: 6vw;
  height: 2vw;
  position: absolute;
}
.container-title-regional-section {
  width: 100%;
  height: 100%;
}
.regional-section-title {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-left: -8px;
}
.container-regional-flags-titles-and-their-acronyms {
  margin-top: -8px;
  width: 12vw;
  height: 18vw;
}
.subcontainer-regional-flags-titles-and-their-acronyms-1 {
  margin-left: 8px;
  margin-top: -12px;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-1 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-1 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-1 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
}
.regional-titles-1 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-1:hover {
  color: red;
}
.container-regional-acronyms-1 {
  position: absolute;
  margin-top: -7px;
  margin-left: 99px;
}
.regional-acronyms-1 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-2 {
  margin-left: 10px;
  margin-top: -15vw;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-2 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-2 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-2 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
}
.regional-titles-2 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-2:hover {
  color: red;
}
.container-regional-acronyms-2 {
  position: absolute;
  margin-top: -7px;
  margin-left: 103px;
}
.regional-acronyms-2 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-3 {
  margin-left: 8px;
  margin-top: -15vw;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-3 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-3 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-3 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
}
.regional-titles-3 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-3:hover {
  color: red;
}
.container-regional-acronyms-3 {
  position: absolute;
  margin-top: -7px;
  margin-left: 66px;
}
.regional-acronyms-3 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-4 {
  margin-left: 8px;
  margin-top: -15vw;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-4 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-4 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-4 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
}
.regional-titles-4 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-4:hover {
  color: red;
}
.container-regional-acronyms-4 {
  position: absolute;
  margin-top: -7px;
  margin-left: 74px;
}
.regional-acronyms-4 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-5 {
  margin-left: 8px;
  margin-top: -15vw;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-5 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-5 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-5 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
}
.regional-titles-5 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-5:hover {
  color: red;
}
.container-regional-acronyms-5 {
  position: absolute;
  margin-top: -7px;
  margin-left: 76px;
}
.regional-acronyms-5 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-6 {
  margin-left: 8px;
  margin-top: -15vw;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-6 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-6 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-6 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
}
.regional-titles-6 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-6:hover {
  color: red;
}
.container-regional-acronyms-6 {
  position: absolute;
  margin-top: -7px;
  margin-left: 72px;
}
.regional-acronyms-6 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-7 {
  margin-left: 8px;
  margin-top: -15vw;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-7 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-7 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-7 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
}
.regional-titles-7 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-7:hover {
  color: red;
}
.container-regional-acronyms-7 {
  position: absolute;
  margin-top: -7px;
  margin-left: 92px;
}
.regional-acronyms-7 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-8 {
  margin-left: 8px;
  margin-top: -15vw;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-8 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-8 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-8 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
}
.regional-titles-8 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-8:hover {
  color: red;
}
.container-regional-acronyms-8 {
  position: absolute;
  margin-top: -7px;
  margin-left: 80px;
}
.regional-acronyms-8 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-9 {
  margin-left: 8px;
  margin-top: -15vw;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-9 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-9 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-9 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 11vw;
}
.regional-titles-9 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-9:hover {
  color: red;
}
.container-regional-acronyms-9 {
  position: absolute;
  margin-top: -7px;
  margin-left: 130px;
}
.regional-acronyms-9 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-10 {
  margin-left: 8px;
  margin-top: -15vw;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-10 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-10 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-10 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 11vw;
}
.regional-titles-10 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-10:hover {
  color: red;
}
.container-regional-acronyms-10 {
  position: absolute;
  margin-top: -7px;
  margin-left: 128px;
}
.regional-acronyms-10 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-11 {
  margin-left: 8px;
  margin-top: -15vw;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-11 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-11 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-11 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 11vw;
}
.regional-titles-11 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-11:hover {
  color: red;
}
.container-regional-acronyms-11 {
  position: absolute;
  margin-top: -7px;
  margin-left: 70px;
}
.regional-acronyms-11 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-12 {
  margin-left: 8px;
  margin-top: -15vw;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-12 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-12 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-12 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 11vw;
}
.regional-titles-12 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-12:hover {
  color: red;
}
.container-regional-acronyms-12 {
  position: absolute;
  margin-top: -7px;
  margin-left: 78px;
}
.regional-acronyms-12 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-13 {
  margin-left: 8px;
  margin-top: -15vw;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-13 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-13 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-13 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 11vw;
}
.regional-titles-13 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-13:hover {
  color: red;
}
.container-regional-acronyms-13 {
  position: absolute;
  margin-top: -7px;
  margin-left: 54px;
}
.regional-acronyms-13 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.section-line-container-2 {
  margin-left: 12vw;
  margin-top: -812px;
  position: absolute;
}

.the-section-line-2 {
  border-left: 1px solid #ccc;
  height: 28vw;
  position: absolute;
}
.regional-section-container-2 {
  margin-top: 8px;
  margin-left: 415px;
  width: 6vw;
  height: 2vw;
  position: absolute;
}
.subcontainer-regional-flags-titles-and-their-acronyms-14 {
  margin-left: 8px;
  margin-top: -12px;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-14 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-14 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-14 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
}
.regional-titles-14 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-14:hover {
  color: red;
}
.container-regional-acronyms-14 {
  position: absolute;
  margin-top: -7px;
  margin-left: 73px;
}
.regional-acronyms-14 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-15 {
  margin-left: 8px;
  margin-top: -290px;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-15 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-15 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-15 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
}
.regional-titles-15 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-15:hover {
  color: red;
}
.container-regional-acronyms-15 {
  position: absolute;
  margin-top: -7px;
  margin-left: 82px;
}
.regional-acronyms-15 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-16 {
  margin-left: 8px;
  margin-top: -289px;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-16 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-16 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-16 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 8vw;
}
.regional-titles-16 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-16:hover {
  color: red;
}
.container-regional-acronyms-16 {
  position: absolute;
  margin-top: -7px;
  margin-left: 88px;
}
.regional-acronyms-16 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-17 {
  margin-left: 8px;
  margin-top: -286px;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-17 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-17 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-17 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 7vw;
}
.regional-titles-17 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-17:hover {
  color: red;
}
.container-regional-acronyms-17 {
  position: absolute;
  margin-top: -7px;
  margin-left: 126px;
}
.regional-acronyms-17 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-18 {
  margin-left: 8px;
  margin-top: -282px;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-18 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-18 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-18 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 6vw;
}
.regional-titles-18 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-18:hover {
  color: red;
}
.container-regional-acronyms-18 {
  position: absolute;
  margin-top: -7px;
  margin-left: 106px;
}
.regional-acronyms-18 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-19 {
  margin-left: 8px;
  margin-top: -290px;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-19 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-19 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-19 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 6vw;
}
.regional-titles-19 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-19:hover {
  color: red;
}
.container-regional-acronyms-19 {
  position: absolute;
  margin-top: -7px;
  margin-left: 63px;
}
.regional-acronyms-19 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-20 {
  margin-left: 8px;
  margin-top: -290px;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-20 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-20 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-20 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 6vw;
}
.regional-titles-20 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-20:hover {
  color: red;
}
.container-regional-acronyms-20 {
  position: absolute;
  margin-top: -7px;
  margin-left: 75px;
}
.regional-acronyms-20 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-21 {
  margin-left: 8px;
  margin-top: -290px;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-21 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-21 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-21 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 6vw;
}
.regional-titles-21 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-21:hover {
  color: red;
}
.container-regional-acronyms-21 {
  position: absolute;
  margin-top: -7px;
  margin-left: 72px;
}
.regional-acronyms-21 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-22 {
  margin-left: 8px;
  margin-top: -290px;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-22 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-22 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-22 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 6vw;
}
.regional-titles-22 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-22:hover {
  color: red;
}
.container-regional-acronyms-22 {
  position: absolute;
  margin-top: -7px;
  margin-left: 72px;
}
.regional-acronyms-22 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-23 {
  margin-left: 8px;
  margin-top: -290px;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-23 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-23 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-23 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 6vw;
}
.regional-titles-23 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-23:hover {
  color: red;
}
.container-regional-acronyms-23 {
  position: absolute;
  margin-top: -7px;
  margin-left: 77px;
}
.regional-acronyms-23 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.subcontainer-regional-flags-titles-and-their-acronyms-24 {
  margin-left: 8px;
  margin-top: -290px;
  width: 11vw;
  height: 17vw;
}
.container-regional-flags-24 {
  margin-left: -1vw;
  margin-top: 5px;
  position: absolute;
}
.regional-flags-24 {
  width: 30px;
  height: 16px;
}
.container-regional-titles-24 {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 6vw;
}
.regional-titles-24 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.regional-titles-24:hover {
  color: red;
}
.container-regional-acronyms-24 {
  position: absolute;
  margin-top: -7px;
  margin-left: 57px;
}
.regional-acronyms-24 {
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.section-line-container-3 {
  margin-left: 180px;
  margin-top: -730px;
  position: absolute;
}

.the-section-line-3 {
  border-left: 1px solid #ccc;
  height: 28vw;
  position: absolute;
}
.container-dashboard-sections-title-items-2 {
  margin-top: 8px;
  margin-left: 590px;
  width: 16vw;
  height: 23vw;
  position: absolute;
}

.title-sections-2 {
  margin-left: -130px;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.container-items-sections-2 {
  margin-top: -8px;
}
.items-sections-2 {
  margin-left: 1vw;
  margin-top: 10px;
}
.hyperlinks-of-sections-items-2 {
  font-size: 15px;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.items-sections-2:hover {
  color: red;
}
.hyperlinks-of-sections-items-2:hover {
  color: red;
}
.nsfw-1 {
  height: 14px;
  margin-top: -15px;
  margin-left: 125px;
  font-size: 10px;
}
.nsfw-2 {
  height: 5px;

  margin-top: -15px;
  margin-left: 113px;
  font-size: 10px;
}
.section-line-container-4 {
  margin-left: 250px;
  margin-top: -360px;
  position: absolute;
}

.the-section-line-4 {
  border-left: 1px solid #ccc;
  height: 28vw;
  position: absolute;
}
.container-gif-home {
  margin-left: 880px;
  margin-top: 120px;
  position: absolute;
}
.gif-home {
  width: 210px;
  height: 210px;
}
.container-section-statistics-and-last-posts {
  margin-top: 13px;
  margin-left: 345px;
  width: 1070px;
  height: 400px;
}
.container-section-statistics {
  width: 230px;
  height: 450px;
  background: #fcfcda;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.container-title-section-statistics {
  margin-top: 0px;
  width: 228px;
  background: #ffda9e;
  border: 2px solid #ffda9e;
  border-radius: 20px;
  box-shadow: 0 0 0 1px #ffda9e;
  position: absolute;
}
.title-section-statistics {
  margin-left: 46px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.sub-container-stats {
  margin-top: -380px;
}

.container-stats-1 {
  width: 200px;
  height: 38px;
  margin-top: -280px;
  margin-left: 15px;
  border-style: dashed;
  border-color: black;
}
.hyperlinks-statistics-1 {
  background: red;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.image-statistics-1 {
  margin-top: 10px;
  margin-left: 12px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.title-statistics-1 {
  margin-top: 8px;
  margin-left: 35px;
  width: 65px;
  font-weight: bold;
}
.numbers-statistics-1 {
  width: 69px;
  margin-top: -34px;
  margin-left: 107px;
  position: absolute;
}
.container-stats-2 {
  width: 200px;
  height: 38px;
  margin-top: 15px;
  margin-left: 15px;
  border-style: dashed;
  border-color: black;
}
.hyperlinks-statistics-2 {
  background: red;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.image-statistics-2 {
  margin-top: 10px;
  margin-left: 12px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.title-statistics-2 {
  margin-top: 8px;
  margin-left: 35px;
  width: 65px;
  font-weight: bold;
}
.numbers-statistics-2 {
  width: 69px;
  margin-top: -34px;
  margin-left: 132px;
  position: absolute;
  color: #ff6961;
}
.container-stats-3 {
  width: 200px;
  height: 38px;
  margin-top: 15px;
  margin-left: 15px;
  border-style: dashed;
  border-color: black;
}
.hyperlinks-statistics-3 {
  background: red;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.image-statistics-3 {
  margin-top: 10px;
  margin-left: 12px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.title-statistics-3 {
  margin-top: 8px;
  margin-left: 35px;
  width: 65px;
  font-weight: bold;
}
.numbers-statistics-3 {
  width: 69px;
  margin-top: -34px;
  margin-left: 101px;
  position: absolute;
  color: #ff6961;
}
.container-image-statistics {
  margin-left: 16px;
  margin-top: 15px;
  position: absolute;
}
.image-statistics {
  width: 200px;
  height: 200px;
}
.container-last-posts {
  margin-left: 245px;
  margin-top: -225px;
  width: 940px;
  height: 600px;
	  border: 1px solid #ccc;
  border-radius: 20px;
  background: #fcfcda;
}
.container-title-and-special-filters-last-posts {
  width: 936px;
  height: 50px;
  margin-top: -28px;
  margin-left: 1px;
  border: 1px solid #ffc340;
  border-radius: 20px;
  background: #ffda9e;
}
.title-last-posts {
  margin-top: -2px;
  margin-left: 20px;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.container-filters-last-posts {
  margin-left: 400px;
}

.container-filters-last-posts-master {
  margin-left: 120px;
}

.container-image-filters-last-posts-1 {
  margin-top: -10px;
  margin-left: 720px;
  width: 32px;
  height: 28px;
  background: #f0ebd7;
  border: 1px solid #ccc;
  border-radius: 10%;
  box-shadow: 0 0 0 2px;
}
.image-filters-last-posts-1 {
  width: 30px;
  height: 30px;
}
.image-filters-last-posts-1:hover {
  opacity: 0.8;
  height: 28px;
  width: 33px;
  background: #77dd77;
}
.container-image-filters-last-posts-2 {
  margin-top: -32px;
  margin-left: 765px;
  width: 32px;
  height: 28px;
  background: #f0ebd7;
	  border: 1px solid #ccc;
  border-radius: 10%;
  box-shadow: 0 0 0 2px;
}
.image-filters-last-posts-2 {
  width: 30px;
  height: 30px;
  margin-left: 0px;
}
.image-filters-last-posts-2:hover {
  opacity: 0.8;
  height: 28px;
  width: 33px;
  background: #ff6961;
}
.container-messages-last-posts {
  width: 500px;
  height: 500px;
  margin-left: 15px;
}
.message-last-posts-1 {
  display: block;
}
.last-post-time-1 {
  width: 40px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
}
.hyperlinks-last-post-1 {
  width: 500px;
  height: 50px;
  margin-top: 7px;
  text-decoration: none;
  color: black;
  position: absolute;
}
.hyperlinks-last-post-1:hover {
  color: red;
}
.regional-place-last-post-1 {
  font-family: "Montserrat", sans-serif;
  margin-left: 45px;
  width: 130px;
  margin-top: 9px;
  position: absolute;
}
.last-post-title-1 {
  font-family: "Montserrat", sans-serif;
  margin-left: 173px;
  margin-top: 8px;
  width: 160px;
  position: absolute;
}
.symbol-last-post-1 {
  font-family: "Montserrat", sans-serif;
  margin-left: 338px;
  margin-top: 8px;
  width: 22px;
}
.message-last-posts-2 {
  margin-top: 25px;
  position: absolute;
}
.last-post-time-2 {
  width: 40px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
}
.hyperlinks-last-post-2 {
  width: 500px;
  height: 50px;
  margin-top: 7px;
  text-decoration: none;
  color: black;
  position: absolute;
}
.hyperlinks-last-post-2:hover {
  color: red;
}
.regional-place-last-post-2 {
  font-family: "Montserrat", sans-serif;
  margin-left: 45px;
  width: 130px;
  margin-top: 9px;
  position: absolute;
}
.last-post-title-2 {
  font-family: "Montserrat", sans-serif;
  margin-left: 173px;
  margin-top: 8px;
  width: 160px;
  position: absolute;
}
.symbol-last-post-2 {
  font-family: "Montserrat", sans-serif;
  margin-left: 338px;
  margin-top: 8px;
  width: 22px;
}

.message-last-posts-3 {
  margin-top: 50px;
  position: absolute;
}
.last-post-time-3 {
  width: 40px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
}
.hyperlinks-last-post-3 {
  width: 500px;
  height: 50px;
  margin-top: 7px;
  text-decoration: none;
  color: black;
  position: absolute;
}
.hyperlinks-last-post-3:hover {
  color: red;
}
.regional-place-last-post-3 {
  font-family: "Montserrat", sans-serif;
  margin-left: 45px;
  width: 130px;
  margin-top: 9px;
  position: absolute;
}
.last-post-title-3 {
  font-family: "Montserrat", sans-serif;
  margin-left: 173px;
  margin-top: 8px;
  width: 160px;
  position: absolute;
}
.symbol-last-post-3 {
  font-family: "Montserrat", sans-serif;
  margin-left: 338px;
  margin-top: 8px;
  width: 22px;
}
.container-image-last-post{
	margin-top: -496px;
	margin-left: 620px;
	width: 300px;
	height: 520px;
}
.last-post-image{
	width: 300px;
	height: 540px;
}
.warning-message-container{
	width: 1200px;
	height: 70px;
	margin-top:220px;
	margin-left: 335px;
	  border: 1px solid #ccc;
  border-radius: 20px;
	  background: #fcfcda;
}
.warning-message{
	text-align: center;
	  font-family: "Montserrat", sans-serif;
	font-size: 14px;
}
.page-closing-container{
	width: 400px;
	height: 10px;
	margin-left: 720px;
	margin-top: 15px;
}
.container-hyperlinks-and-page-closing-lines-1{
		margin-left: 68px;
		width: 250px;
		height: 32px;
}
.page-closing-hyperlink-1{
	text-decoration: none;
	color:black;
    font-family: "Montserrat", sans-serif;
	font-size: 13px;
}

.page-closing-hyperlink-1:hover{
color:red;	
}

.page-closing-line-container-1{
  margin-left: 40px;
  margin-top:  -18px;
  position: absolute;
}
.page-closing-line-1{
  border-left: 1px solid black;
  height: 1vw;
  position: absolute;
}

.page-closing-hyperlink-container-2{
	margin-top: -19px;
	margin-left: 48px;
	position: absolute;
}

.page-closing-hyperlink-2{
	text-decoration: none;
	color:black;
    font-family: "Montserrat", sans-serif;
		font-size: 13px;
}

.page-closing-hyperlink-2:hover{
color:red;	
}

.page-closing-line-container-2{
  margin-left: 138px;
  margin-top:  -18px;
  position: absolute;
}
.page-closing-line-2{
  border-left: 1px solid black;
  height: 1vw;
  position: absolute;
}
.page-closing-hyperlink-container-3{
	margin-top: -19px;
	margin-left: 145px;
	position: absolute;
}

.page-closing-hyperlink-3{
	text-decoration: none;
	color:black;
    font-family: "Montserrat", sans-serif;
		font-size: 13px;
}
.page-closing-hyperlink-3:hover{
color:red;	
}
.container-hyperlinks-and-page-closing-lines-2{
		margin-left: 68px;
		width: 250px;
		height: 15px;
}
.page-closing-hyperlink-container-4{
	margin-top: -12px;
	margin-left: 2px;
	position: absolute;
}

.page-closing-hyperlink-4{
	text-decoration: none;
	color:black;
    font-family: "Montserrat", sans-serif;
		font-size: 13px;
}

.page-closing-hyperlink-4:hover{
color:red;	
}
.date-container-and-others{
	margin-top: -38px;
	margin-left: 165px;
	width: 100px;
	height: 20px;
}
date-and-others{
	width: 100px;
	height: 20px;
	background: red;
	position: absolute;
	    font-family: "Montserrat", sans-serif;

}
.others{
	    font-family: "Montserrat", sans-serif;
	font-size: 13px;
}
.date{
margin-top:-30px;
margin-left:20px;
	    font-family: "Montserrat", sans-serif;
font-size:13px;
}